<h1><%= @meetup.name %></h1>

<p><%= @meetup.location %></p>

<p><%= @meetup.description %></p>
<% if @meetup.users.include?(current_user) %>
<form action="/leave_meetup/<%= @meetup.id %>" method="post">
  <input type="submit" value="Leave Meetup!">
</form>
<% else %>
<form action="/join_meetup/<%= @meetup.id %>" method="post">
  <input type="submit" value="Join Meetup!">
</form>
<% end %>
<h3>Comments:</h3>
<% if @meetup.users.include?(current_user) %>
<form action="/create_comment/<%= @meetup.id %>" method="post">
  <span style="padding-left: 7px;"></span>
  <label for="title">Title:</label>
  <input style="width:150px" type="text" id="title" name="title" required/>
  <br>
  <label for="body">Body:</label>
  <input style="width:150px; height:75px" type="text" id="body" name = "body" required/>
  <br><br>
  <input type="submit" value="Submit">
</form>
<% end %>
<% @comments.each do |comment| %>
<%= comment.title %> by <%= comment.user.username %>
<br>
<%= comment.body %>
<% end %>
<br><br><br>
<h3>Members</h3>
<ol>
  <% @users.each do |user| %>
    <li><%= user.username %> <img src=" <%= user.avatar_url %>" alt="<%= user.username %>" height="75px" width="75px"></li>
</ol>
<% end %>

