<h1><%= @meetup.name %></h1>

<p><%= @meetup.location %></p>

<p><%= @meetup.description %></p>
<% if @meetup.users.include?(current_user) %>
<form action="/leave_meetup/<%= @meetup.id %>" method="post">
  <input type="submit" value="Leave Meetup!">
</form>
<% else %>
<form action="/join_meetup/<%= @meetup.id %>" method="post">
<input type="submit" value="Join Meetup!">
</form>
<% end %>
<br><br><br>
<h3>Members</h3>
<ol>
  <% @users.each do |user| %>
    <li><%= user.username %> <img src=" <%= user.avatar_url %>" alt="<%= user.username %>" height="75px" width="75px"></li>
</ol>
<% end %>

